<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holidays</title>
</head>
<body>
<h1>United States holidays in <%= "#{@curr_month.strftime("%B %Y")}" %></h1>
<%@hApi_curr.each do |date, hd_list|
  hd_list.each do |hd| %>
  <p><%= "#{date}: #{hd["name"]}"%></p>
<% end;end%>



<h1><%= "#{IsoCountryCodes.find(@country).name}" %> holidays in <%="#{@birth_month.strftime("%B %Y")}" %></h1>
<%@hApi_birth.each do |date|
  date.each do |hd| %>
  <p><%= "#{hd["date"]}: #{hd["name"]}"%></p>
<% end;end%>

</body>
</html>
